In [1]:
import numpy as np
import pandas as pd

In [4]:
import keras

Using TensorFlow backend.

In [3]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [6]:
#Let's check how many data points we have.
concrete_data.shape

(1030, 9)

In [7]:
#Let's check the dataset for any missing values with describe.
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [8]:
#Let's check the dataset for any missing values with describe.
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [11]:
# it stores the column names or attribute name in list
concrete_data_columns = concrete_data.columns
concrete_data_columns

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

In [13]:
# Divide the dataset into predictors and target sub datasets. It just a slicing on the dataset
# Predictors Dataset is  a dataframe
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [15]:
# the target dataset is a dataframe
target = concrete_data['Strength'] # Strength column
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [16]:
# The last step is to normalize the data by substracting the mean and dividing by the standard deviation.
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [17]:
#Let's save the number of predictors to n_cols since we will need this number when building our network.
n_cols = predictors_norm.shape[1] # number of predictors

In [21]:
from keras.models import Sequential

In [22]:
from keras.layers import Dense

In [23]:
#Build a Neural Network

In [24]:
#Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [31]:
def regression_model():
    #creating model
    model=Sequential()
    #adding layers with input dimension, no. of neurons and activation function
    # first hidden layer
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    #second hidden layer
    model.add(Dense(50, activation = 'relu'))
    # output layer
    model.add(Dense(1))
    
    #compile the model
    model.compile(optimizer ='adam', loss='mean_squared_error')
    return model

In [32]:
#Train and Test the Network

In [33]:
#Let's call the function now to create our model.

In [34]:
# build the model
model = regression_model()

In [35]:
#fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

WARNING:tensorflow:From /usr/local/lib64/python3.6/site-packages/keras/backend/tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 1s - loss: 1638.3544 - val_loss: 1130.3473
Epoch 2/100
 - 0s - loss: 1506.6673 - val_loss: 991.1696
Epoch 3/100
 - 0s - loss: 1286.4444 - val_loss: 785.4924
Epoch 4/100
 - 0s - loss: 965.2422 - val_loss: 530.4562
Epoch 5/100
 - 0s - loss: 604.7462 - val_loss: 312.2716
Epoch 6/100
 - 0s - loss: 348.9071 - val_loss: 203.4407
Epoch 7/100
 - 0s - loss: 245.0850 - val_loss: 176.8858
Epoch 8/100
 - 0s - loss: 219.8387 - val_loss: 172.1111
Epoch 9/100
 - 0s - loss: 207.5883 - val_loss: 165.6199
Epoch 10/100
 - 0s - loss: 197.9743 - val_loss: 163.3883
Epoch 11/100
 - 0s - loss: 191.1248 - val_loss: 163.4082
Epoch 12/100
 - 0s - loss: 184.7755 - val_loss: 157.0674
Epoch 13/100
 - 0s - loss: 179.3042 - val_loss: 156.6557
Epoch 14/100
 - 0s - loss: 174.3976 - val_loss: 153.3295
Epoch 15/100
 - 0s - loss: 170.4768 - val_loss: 152.8212
Epoch 16/100
 - 0s - loss: 166.7446 - val_loss: 152.5625
Epoch 17/100
 - 0s - loss: 163.9845 - val_loss: 151.0903
Epoch 18/100
 - 0s - loss: 159.9001 - val_loss: 147.2453
Epoch 19/100
 - 0s - loss: 158.1660 - val_loss: 145.9008
Epoch 20/100
 - 0s - loss: 155.0911 - val_loss: 145.3596
Epoch 21/100
 - 0s - loss: 152.2269 - val_loss: 145.6969
Epoch 22/100
 - 0s - loss: 150.6132 - val_loss: 145.1295
Epoch 23/100
 - 0s - loss: 148.0589 - val_loss: 145.3942
Epoch 24/100
 - 0s - loss: 145.9179 - val_loss: 143.8016
Epoch 25/100
 - 0s - loss: 144.6357 - val_loss: 144.1310
Epoch 26/100
 - 0s - loss: 142.9561 - val_loss: 145.2186
Epoch 27/100
 - 0s - loss: 140.6243 - val_loss: 145.0219
Epoch 28/100
 - 0s - loss: 139.3281 - val_loss: 145.5502
Epoch 29/100
 - 0s - loss: 137.7970 - val_loss: 142.4172
Epoch 30/100
 - 0s - loss: 136.0883 - val_loss: 144.7729
Epoch 31/100
 - 0s - loss: 134.8274 - val_loss: 146.8249
Epoch 32/100
 - 0s - loss: 133.4654 - val_loss: 146.1913
Epoch 33/100
 - 0s - loss: 132.2656 - val_loss: 145.1437
Epoch 34/100
 - 0s - loss: 129.9478 - val_loss: 147.3834
Epoch 35/100
 - 0s - loss: 128.4281 - val_loss: 145.5111
Epoch 36/100
 - 0s - loss: 127.1343 - val_loss: 149.1426
Epoch 37/100
 - 0s - loss: 125.5911 - val_loss: 144.2729
Epoch 38/100
 - 0s - loss: 123.7005 - val_loss: 147.2975
Epoch 39/100
 - 0s - loss: 124.2074 - val_loss: 150.2791
Epoch 40/100
 - 0s - loss: 120.5514 - val_loss: 148.5253
Epoch 41/100
 - 0s - loss: 118.6930 - val_loss: 147.8876
Epoch 42/100
 - 0s - loss: 116.7144 - val_loss: 148.8884
Epoch 43/100
 - 0s - loss: 115.1723 - val_loss: 148.4343
Epoch 44/100
 - 0s - loss: 113.3257 - val_loss: 148.2734
Epoch 45/100
 - 0s - loss: 111.0968 - val_loss: 148.4324
Epoch 46/100
 - 0s - loss: 109.2278 - val_loss: 146.4724
Epoch 47/100
 - 0s - loss: 107.3691 - val_loss: 144.6490
Epoch 48/100
 - 0s - loss: 105.0870 - val_loss: 142.5137
Epoch 49/100
 - 0s - loss: 103.0148 - val_loss: 144.3568
Epoch 50/100
 - 0s - loss: 100.6848 - val_loss: 142.9152
Epoch 51/100
 - 0s - loss: 97.4604 - val_loss: 141.4219
Epoch 52/100
 - 0s - loss: 95.1304 - val_loss: 141.3714
Epoch 53/100
 - 0s - loss: 92.6038 - val_loss: 138.1385
Epoch 54/100
 - 0s - loss: 89.3127 - val_loss: 137.5448
Epoch 55/100
 - 0s - loss: 87.3308 - val_loss: 143.3432
Epoch 56/100
 - 0s - loss: 84.7577 - val_loss: 133.7398
Epoch 57/100
 - 0s - loss: 82.9453 - val_loss: 140.3375
Epoch 58/100
 - 0s - loss: 79.4641 - val_loss: 135.6440
Epoch 59/100
 - 0s - loss: 76.7152 - val_loss: 132.1807
Epoch 60/100
 - 0s - loss: 74.6701 - val_loss: 138.4533
Epoch 61/100
 - 0s - loss: 72.0645 - val_loss: 132.4068
Epoch 62/100
 - 0s - loss: 69.7805 - val_loss: 134.9580
Epoch 63/100
 - 0s - loss: 67.0294 - val_loss: 127.7397
Epoch 64/100
 - 0s - loss: 64.8862 - val_loss: 131.6218
Epoch 65/100
 - 0s - loss: 62.6280 - val_loss: 125.4490
Epoch 66/100
 - 0s - loss: 60.5781 - val_loss: 136.1638
Epoch 67/100
 - 0s - loss: 58.7872 - val_loss: 131.2642
Epoch 68/100
 - 0s - loss: 57.3913 - val_loss: 129.2147
Epoch 69/100
 - 0s - loss: 55.4359 - val_loss: 135.6345
Epoch 70/100
 - 0s - loss: 53.7453 - val_loss: 127.6501
Epoch 71/100
 - 0s - loss: 52.2492 - val_loss: 127.5829
Epoch 72/100
 - 0s - loss: 50.8022 - val_loss: 118.7933
Epoch 73/100
 - 0s - loss: 49.7895 - val_loss: 126.5580
Epoch 74/100
 - 0s - loss: 48.7204 - val_loss: 121.3057
Epoch 75/100
 - 0s - loss: 46.9590 - val_loss: 135.4691
Epoch 76/100
 - 0s - loss: 45.8717 - val_loss: 130.6532
Epoch 77/100
 - 0s - loss: 45.0704 - val_loss: 127.9278
Epoch 78/100
 - 0s - loss: 44.2492 - val_loss: 130.2427
Epoch 79/100
 - 0s - loss: 44.2035 - val_loss: 134.8447
Epoch 80/100
 - 0s - loss: 42.4019 - val_loss: 124.7597
Epoch 81/100
 - 0s - loss: 41.3560 - val_loss: 130.0660
Epoch 82/100
 - 0s - loss: 40.5131 - val_loss: 128.8979
Epoch 83/100
 - 0s - loss: 39.9779 - val_loss: 125.6771
Epoch 84/100
 - 0s - loss: 38.9391 - val_loss: 129.9837
Epoch 85/100
 - 0s - loss: 38.4896 - val_loss: 133.0285
Epoch 86/100
 - 0s - loss: 37.8022 - val_loss: 135.0131
Epoch 87/100
 - 0s - loss: 37.1790 - val_loss: 132.6727
Epoch 88/100
 - 0s - loss: 36.5431 - val_loss: 132.1919
Epoch 89/100
 - 0s - loss: 36.4275 - val_loss: 132.9519
Epoch 90/100
 - 0s - loss: 35.6512 - val_loss: 139.0604
Epoch 91/100
 - 0s - loss: 35.2522 - val_loss: 135.0861
Epoch 92/100
 - 0s - loss: 34.6052 - val_loss: 134.0824
Epoch 93/100
 - 0s - loss: 34.3075 - val_loss: 134.1368
Epoch 94/100
 - 0s - loss: 33.7883 - val_loss: 145.9133
Epoch 95/100
 - 0s - loss: 33.4458 - val_loss: 140.2921
Epoch 96/100
 - 0s - loss: 32.8374 - val_loss: 144.5781
Epoch 97/100
 - 0s - loss: 32.3822 - val_loss: 140.0245
Epoch 98/100
 - 0s - loss: 31.8854 - val_loss: 125.0881
Epoch 99/100
 - 0s - loss: 32.3947 - val_loss: 148.6617
Epoch 100/100
 - 0s - loss: 31.5207 - val_loss: 147.3404

In [36]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 50)                450
_________________________________________________________________
dense_2 (Dense)              (None, 50)                2550
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 51
=================================================================
Total params: 3,051
Trainable params: 3,051
Non-trainable params: 0
_________________________________________________________________